<!DOCTYPE html>
<html ng-app="game">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Rock Paper Scissor</title>
      <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
      <link rel="stylesheet" href="style.css">
      </lin>
   </head>
   <body ng-controller="GameController as gameCtrl">
      <div class="main">
          
          <button ng-click="whoWins('rock')">Rock</button>
          <button ng-click="whoWins('paper')">Paper</button>
          <button ng-click="whoWins('scissors')">Scissors</button>
          <button ng-click="whoWins('hammer')">Hammer</button>
          <button ng-click="whoWins('dynamite')">Dynamite</button>
          
          <p>{{userselection | uppercase}}</p>
          <p>{{compselection | uppercase}}</p>

         <br/>
         
         <h3 id="result">{{result}}</h3>   
          
           <table style="width:100%">
              <tr>
                <th>User Score</th>
                <th>Computer Score</th>
                <th>Tie</th>
              </tr>
              <tr>
                <td>{{userScore}}</td>
                <td>{{compScore}}</td>
                <td>{{tieScore}}</td>
              </tr>
           </table>
          
          <form>
              <input type="checkbox" value="rock">Rock
              <input type="checkbox" value="paper">Paper
              <input type="checkbox" value="scissors">Scissors             
          
          </form>
          
          
        </div>
       <script src="angular.min.js"></script>
      <script src="app.js"></script>
   </body>
</html>