.main{
    text-align: center;
    margin: 0 auto;
    width: 500px;
    background-color: darkorange;
    padding: 20px;
    border-radius: 20px;
}
button{
    font-size: 1em;
    border-radius: 20px;
    padding: 14px;
}
button:focus{
    background-color: teal;
    color: white;
}
p{
    font-size: 1.2em;
    margin-top: 24px;
    color: white;
}